.container {
    color:aliceblue;
    height: 50px;
    width: 100%;
    background-color: blue;
}

h1 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium';
    padding-top: 10px;
    padding-bottom: 10px;
}