body,h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
  align: center;
}
        
body, html {
  height: 100%;
  line-height: 1.8;
}
        
/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("Desain.png");
  min-height: 100%;
}
        
.w3-bar .w3-button {
  padding: 16px;
}


img {
  width: 100px;
  height: 100px;
  align: auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 200px;
  margin: 2px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 10px;
}

input[type="submit"] {
  /* background-color: #ff9900;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer; */
  width: 100%;
  /* transform: translateX(-50%); */
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background-color: #ffd900;
  outline: none;
  box-shadow: 0px 2px 2px black;
  border: 1px solid black;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background-color: #bcff64;
}

.contact {
  width: 500px;
  margin: 60px auto;
  margin-bottom: 100px;
}

.contact h1 {
  text-align: center;
}

.contact label {
  text-align: left;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.footer p {
  line-height: 50px;
}
